@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.dark body {
  background: #0f172a;
  color: white;
}

body {
  background: #ffffff;
  color: #111827;
}